@{
    ViewData["Title"] = "Home Page";
}
@model List<Products>

<div >
    @foreach(var i in Model){

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">@i.Name</h5>
        
        <p class="card-text">@i.description</p>
        
        <p class="card-text">@i.Price</p>
        
      </div>
      <a href="Home/bascet_add/@i.Id">
       <button type="button"  class="btn btn-primary">Добавить в корзину</button>
       </a>
    </div>
   }
</div>





